<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=169433
-->
<configuration>
	<connectionStrings>
		<add name="MyDatabaseConnection"
			 connectionString="Server=(localdb)\MSSQLLocalDB;Initial Catalog=University_HR_ManagementSystem;Integrated Security=True" />
	</connectionStrings>

	<system.web>
		<compilation debug="true" targetFramework="4.8" />
		<httpRuntime targetFramework="4.8" />
	</system.web>

	<!-- Removed <system.codedom> section to fix CodeDom provider error -->
</configuration>
